/* Updating styles accordingly */

:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

/* Setting the foreground color value */
body {
    color: var(--text-color);
}

/* Setting the foreground color value for all anchor elements */
a {
   color: var(--text-color);
}

/* 'visually hidden' elements display none */
.visually-hidden {
    display: none;
}

/* Setting the foreground color for elements with the class 'card-category' */
.card-catergory {
    color: var(--color-primary);
}

/* Setting the foreground color for elements with the class 'section-tagline' */
.section-tagline {
    color: var(--color-primary);
}

