// A Sass file that assigns no margin or padding in 'body' tags
// and margin '10px' to all of the 'p' tags inside 'body' tags using nested declarations.

body {
  margin: 0;
  padding: 0;

  p {
    margin: 10px;
  }
}

